.home {
	padding: 3vmax;
	padding-bottom: 0;

	transition: all 400ms ease;

	.addButton {
		width: 100%;
		position: sticky;
		top: 15%;
		bottom: 5%;
		right: 15%;
		img {
			width: 4vmax;
			margin-left: auto;
			cursor: pointer;
			transition: all 500ms ease;
			&:hover {
				transform: scale(1.1) rotate(90deg);
			}
			&:active {
				transform: rotate(180deg);
			}
		}
	}
	.card.is-flipped {
		transform: rotateX(-180deg);

		.commentList {
			position: relative;
		}
		.fiddleFront {
			max-height: 20vh;
		}
	}
}
